  <section class="about-me py-5">
    <div class="container">
      <h2 class="text-center">About Me</h2>
      <div class="row mt-4">
        <div class="col-md-4 text-center">
          <!-- Optional: Add a profile image -->
          <img src="/images/niels.jpg" alt="Your Photo" class="img-fluid mb-3" width="200">
        </div>
        <div class="col-md-8">
          <p>
            I am a freelance software engineer with over X years of experience in developing high-quality software
            solutions. My expertise lies in Python, C++, C#, Docker, Linux, and more. I am passionate about creating
            efficient and scalable applications.
          </p>
          <!-- Technologies Overview -->
          <h5>Technologies I Work With:</h5>
          <div class="row mt-3">
            <div class="col-md-2 col-4">
              <img src="icons/python.png" alt="Python" class="img-fluid">
              <p>Python</p>
            </div>
            <div class="col-md-2 col-4">
              <img src="icons/cpp.png" alt="C++" class="img-fluid">
              <p>C++</p>
            </div>
            <div class="col-md-2 col-4">
              <img src="icons/csharp.png" alt="C#" class="img-fluid">
              <p>C#</p>
            </div>
            <div class="col-md-2 col-4">
              <img src="icons/docker.png" alt="Docker" class="img-fluid">
              <p>Docker</p>
            </div>
            <div class="col-md-2 col-4">
              <img src="icons/linux.png" alt="Linux" class="img-fluid">
              <p>Linux</p>
            </div>
            <!-- Add more as needed -->
          </div>
          <a href="#" class="btn btn-primary mt-3">Download My Resume</a>
        </div>
      </div>
    </div>
  </section>
