<section class="courses py-5">
    <div class="container">
        <h2 class="text-center">Courses I Organize</h2>
        <div class="row mt-4">
            {{ $coursesToShow := .Site.Params.coursesToShow | default 3 }}
            {{ $courses := where .Site.RegularPages "Section" "courses" }}
            {{ range first $coursesToShow (sort $courses "Date" "desc") }}
            <div class="col-md-4">
                <div class="card h-100">
                    {{ $image := .Params.Image | default "/images/zx81.jpg" }}
                    <img src="{{- $image -}}" class="card-img-top" alt="Course Image">
                    <div class="card-body">
                        <h5 class="card-title">{{- .Title -}}</h5>
                        <p class="card-text">{{- .Description -}}</p>
                        <a href="{{- .RelPermalink -}}" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>