  <section class="hero-section text-center text-white d-flex align-items-center"
    style="background-image: url('/images/zx81.jpg'); height: 100vh; background-size: cover;">
    <div class="container">
      <h1 class="display-4">Freelance Software Engineer</h1>
      <p class="lead">Delivering robust software solutions through expert code and architecture reviews.</p>
      <a href="/resume" class="btn btn-primary btn-lg m-2">View My Resume</a>
      <a href="/contact" class="btn btn-outline-light btn-lg m-2">Contact Me</a>
    </div>
  </section>
