<section class="section">
  <h2><a href="/services" class="section-link">Offered Services</a></h2>
  <div class="grid">
    {{ $servicesToShow := .Site.Params.servicesToShow | default 3 }}
    {{ $services := where .Site.RegularPages "Section" "services" }}
    {{ range first $servicesToShow (sort $services "Date" "desc") }}
    <div class="card">
      <h3>{{- .Title -}}</h3>
      <p>{{- .Description -}}</p>
      <a href="{{ .RelPermalink }}" class="cta">Learn More</a>
    </div>
    {{ end }}
  </div>
</section>
