<div class="mb-5">
    <h3>Contact Information</h3>
    <hr>
    <p><strong>Email:</strong> <a href="mailto:{{- .email -}}">{{-
            .email -}}</a></p>
    <p><strong>Phone:</strong> {{ .phone }}</p>
    <p><strong>Location:</strong> {{ .location }}</p>

    <h5 class="mt-4">Follow Me</h5>
    <a class="me-2" href="{{ .linkedin }}" target="_blank" title="LinkedIn">
        <i class="bi bi-linkedin"></i>
    </a>
    <a class="me-2" href="{{ .github }}" target="_blank" title="GitHub">
        <i class="bi bi-github"></i>
    </a>
    <a class="me-2" href="{{ .x }}" target="_blank" title="X">
        <i class="bi bi-twitter-x"></i>
    </a>
</div>